body{
    background-color: lightblue;

}
.d1{
    background-color: white;
    height: 40px;
    width: 100vw;
    top: 0px;
    margin-top: -8px;
    margin-left: -10px;
   
}
#n1{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
#n2{
    align-items: right;
    padding-left: 1000px;
    text-decoration: none;
    color: black;

}
#m1{
    margin-left: 140px;
    margin-top: 30px;
    height:500px;
    width: 1250px;
    background-color: white;
    border-radius: 9px;
}
#w1{
    color: red;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-top: 40px; */
    margin-left: 10px;
}
#w2{
    padding: 0%;
    font-style:unset;
    font-size: 15px;
    width: 300px;
    margin-top: -25px;
}
#i1{
    height: 10px;
    width: 15px;
}
#ii1{
    height: 140px;
    width: 200px;
    margin-left: 900px;
    margin-top: -60px;
}
#nav{
    margin-left: 400px;
    margin-top: -20;
}

.idv{
    background-color: white;
    height: 350px;
    width: 600px;
    margin: -80px 0 0 650px;
}
#btn{
    height:40px;
    width: 90px;
    border: 2px;
    border-color: black;
    background-color: rgb(21, 180, 21);
    border-radius: 5px;

}
#line1{
    display: flex;
}
.bhr{
    background-color: white;
    height: 40px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    margin-left: -10px;
}